body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header { 
  margin: 5px 5px;
}

.logo {
  border: 1px solid #eee;
  border-radius: 30px;
  float: left;
  height: 30px;
  width: 30px;
  margin: 5px 5px;
}

.main {
  height: v;
  min-height: 77vh;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 5px;
}

.dot-items {
  float: right;
}